.welcome-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #555;
}

.movie-poster {
    -fx-pref-width: 100px;
    -fx-pref-height: 150px;
    -fx-background-color: #cccccc;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0.3, 2, 2);
}

.arrow-button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: #444;
    -fx-cursor: hand;
}

.arrow-button:hover {
    -fx-text-fill: #222;
}

.search-button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: #444;
    -fx-cursor: hand;
    -fx-padding: 5 10;
}

.search-button:hover {
    -fx-text-fill: #222;
}

.disconect-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-font-size: 18px;
    -fx-text-fill: #444;
    -fx-cursor: hand;
    -fx-padding: 5 10;
}

.disconect-button:hover {
    -fx-text-fill: #222;
}
