.background {
    -fx-background-color: linear-gradient(to bottom, #2A2E37, #0b0c0e);
}

.login-card {
    -fx-background-color: #2A2E37;
    -fx-border-color : #FFFF8D;
    -fx-padding: 40;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0.5, 0, 10);
}

.input-field {
    -fx-pref-width: 500;
    -fx-pref-height: 40;
    -fx-text-fill: #2A2E37;
    -fx-font-size : 12pt;
    -fx-background-color : #2A2E37;
    -fx-text-fill : derive(#FFFF8D, 20%);
}

.login-button {
    -fx-background-color: linear-gradient(to bottom, #2A2E37, #15171a);
    -fx-border-color: #FFFF8D;
    -fx-font-weight: bold;
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-cursor: hand;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-font-size: 16px;
    -fx-text-fill: #FFFF8D;
}

.login-button:hover {
    -fx-border-color: #FFFF8D;
    -fx-background-color: #FFFF8D;
    -fx-text-fill: #2A2E37;
}

.create-button{
    -fx-background-color : #2A2E37;
    -fx-text-fill : #FFFF8D;
}

.create-button:hover{
    -fx-background-color : #2A2E37;
    -fx-border-color : #2A2E37;
    -fx-text-fill : blue;
    -fx-cursor: hand;

}